<div class="container my-5">
  <div class="row no-gutters">

<h1>顧客一覧</h1>


<table class="table table-bordered">
  <thead>
    <tr>
      <th>お客様名</th>
      <th>来店日</th>
      <th>誕生日</th></th>
    </tr>
  </thead>
  <tbody>
    <% @customerdetails.each do |customerdetail| %>
    <tr>
      <td> <%= link_to customerdetail.last_name , customerdetail_path(customerdetail.id) %><%= customerdetail.first_name %></td>
      <td><%= customerdetail.visits %></td>
      <td><%= customerdetail.birthday %></td>
    </tr>
  </tbody>
  <% end %>
</table>

<button type="button" class="btn btn-lg btn-secondary ">
<%= link_to "新規登録", customerdetails_new_path(@customerdetail.id) %>
</button>
<div>
</div>