
<div class="container">
    <div class="row">

<h2><%= @customerdetail.first_name %><%= @customerdetail.last_name %>様の詳細ページ</h2>
<% if @customerdetail.errors.any? %>
  <%= @customerdetail.errors.count %>件のエラーが発生しました
  <ul>
    <% @customerdetail.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>
<%= render 'admins/customerdetails/customerdetail', customerdetail: @customerdetail %>

<div class="mx-auto">
<button type="button" class="btn btn-secondary .text-light">
<%= link_to "編集", edit_customerdetail_path(@customerdetail.id) ,class: 'btn btn-secondary'%>
</button>
<button type="button" class="btn btn-secondary">
<%= link_to "新規登録", customerdetails_new_path(@customerdetail.id) ,class: 'btn btn-secondary'%>
</button>
<button type="button" class="btn btn-secondary">
<%= link_to "一覧に戻る", index_path ,class: 'btn btn-secondary'%>
</button>
  </div>
  
  </div>
</div>