<div class="container">
    <div class="row">

<h2><%= @customerdetail.first_name %><%= @customerdetail.last_name %>様の詳細ページ</h2>

<% if @customerdetail.errors.any? %>
  <%= @customerdetail.errors.count %>件のエラーが発生しました
   <ul>
    <% @customerdetail.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
   </ul>
<% end %>

<%= render 'customerdetail', customerdetail: @customerdetail %>

<div class="mx-auto">
  <button type="button" onclick="download();">CSVダウンロード</button>
  <button type="button" class="btn btn-secondary">
    <%= link_to "一覧に戻る", admins_customerdetails_index_path ,class: 'btn btn-secondary'%>
</div>%>
  </button>
</div>
 </div>
  </div>
<%= javascript_tag do %>
let first_name = "<%= @customerdetail.first_name %>"
let last_name = "<%= @customerdetail.last_name %>"
let gender = "<%= @customerdetail.gender %>"
let birthday = "<%=  @customerdetail.birthday %>"
let visits = "<%=  @customerdetail.visits %>"
let usage_amount = "<%=  @customerdetail.usage_amount %>"
let phone_number = "<%=  @customerdetail.phone_number %>"
let email = "<%=  @customerdetail.email %>"
let post_code = "<%=  @customerdetail.post_code %>"
let address = "<%= @customerdetail.address %>"
let profession = "<%=  @customerdetail.profession %>"
let annual_income = "<%=  @customerdetail.annual_income %>"
let repeat = "<%=  @customerdetail.repeat %>"
let marriage = "<%=  @customerdetail.marriage %>"
let children = "<%=  @customerdetail.children %>"
let visit_frequency = "<%=  @customerdetail.visit_frequency %>"
let unit_price = "<%=  @customerdetail.unit_price %>"
let month_sales_target = "<%=  @customerdetail.month_sales_target %>"
let gole_sales_target = "<%=  @customerdetail.gole_sales_target %>"

let data = [
  ["名前" ,first_name,last_name],
  ["性別",gender],
  ["誕生日",birthday],
  ["来店日",visits],
  ["ご利用額",usage_amount],
  ["電話番号",phone_number],
  ["メールアドレス",email],
  ["郵便番号",post_code],
  ["住所",address],
  ["職業",profession],
  ["年収",annual_income],
  ["リピート見込み",repeat],
  ["結婚の有無",marriage],
  ["子供の有無",children],
  ["来店頻度",visit_frequency],
  ["単価",unit_price],
  ["1か月の売り上げ目標",month_sales_target],
  ["最終売上金額目標",gole_sales_target]
]

const csvData = convertToCSV(data)
const filename = "output.csv"
function download() {
  downloadCSV(csvData,filename)
}

function convertToCSV(data) {
  const csv = data.map((row) => row.map((cell) => `"${cell.toString().replace(/"/g, '""')}"`).join(",")).join("\r\n");
  return csv
}

function downloadCSV(csv,filename) {
  const blob = new Blob([csv], {type: "text/csv;charset=utf-8;"})
  const url = URL.createObjectURL(blob)
  const link = document.createElement("a");
  link.href = url;
  link.style.display = "none";
  link.download = filename;
  document.body.appendChild(link);
  link.click();
  document.body.removeChild(link);
}

<% end %>