<!DOCTYPE html>
<html>
  <head>
    <title>CustomerNavi</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

     <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
    <nav class="navbar navbar-dark bg-dark">
      <ul class="navbar-nav mr-auto">
  <!-- Navbar content -->
    <% if staff_signed_in? %>
    <li class="nav-item">
    <%= link_to "ログアウト", destroy_staff_session_path, method: :delete %>
    </li>
    <li class="nav-item">
    <%= link_to "マイページ", staff_path(current_staff.id) %>
    </li>
    <% elsif admin_signed_in?%>
    <li><%= link_to "ログアウト", destroy_admin_session_path, method: :delete %>
    </li>
    
    <% else %>
    <li class="nav-item">
        <%= link_to "新規登録", new_staff_registration_path %>
   </li>
   <li class="nav-item">
        <%= link_to "ログイン", new_staff_session_path %>
  </li>
    <% end %>
    </ul>
 </nav>
 </header>
    <%= yield %>
  </body>
</html>
